#main{
    background-color: #E9EED9;
    text-align: center;
    border: solid black 2px ;
    border-radius: 1cm ;
}

h1{
    color:brown;
    font-size: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    margin-top: 5px;
}



#container{
    display: flex;
    justify-content: space-around;
}
#scorediv{
    border: solid 1px;
    border-radius: 25px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 40px;
    background-color: #CBD2A4 ;
    
    
}

#heading{
    margin: 10px;
    color: #6A1E55;
    font-size: xx-large;
}


img{
    height: 200px;
    background-color: #E9EED9;
}


#middle-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;   
    
}


#middle-lower-div{
    color: red;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    margin: 20px;
    font-size: large;
}


#lowerdiv{
    border: dotted 1px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 1cap;
    margin: 50px 80px;
    background-color: #CBD2A4 ;
}

span{
    color: black;
}

